.tutorial-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.explorer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--main-bg-color);
    border-right: 1px solid var(--accent-bg-color);
    margin: 0;
    padding-top: 42px;
}

.explorer {
    width: 250px;
}

.explorer .crumb-header {
    font-weight: bold;
}

.explorer .crumb-node {
    font-weight: normal;
    padding: 12px 2px;
    padding-left: var(--page-boundary-padding);
    width: 100%;
}

.explorer .crumb-node:visited {
    color: var(--main-fg-color);
}

.explorer .crumb-node:hover {
    cursor: pointer;
    color: #cecece;
}

.explorer .selected {
    background-color: var(--accent-bg-color);
    color: var(--accent-fg-color) !important;
}

.mid-wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
}

.textual-content-area {
    padding-top: 42px;
    width: 450px;
    flex-shrink: 0;
}

.textual-content-area p,
.textual-content-area h3,
.textual-content-area h4,
.textual-content-area h5,
.textual-content-area h6 {
    padding: 10px 0px;
}
