.tutorial-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: calc(100vh - 83px);
}

.left-pane {
    padding: 10px var(--page-boundary-padding);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-pane,
.right-pane {
    flex-grow: 1;
    flex-basis: 200px;
    height: 100%;
}

.textual-content-area {
    flex-grow: 1;
}

.textual-content-area table,
.textual-content-area p,
.textual-content-area h3,
.textual-content-area h4,
.textual-content-area h5,
.textual-content-area h6 {
    padding: 8px 0px;
}

.textual-content-area tr:hover {
    cursor: pointer;
    background-color: #efefef;
}

.textual-content-area td,
.textual-content-area th {
    padding: 2px 10px;
}
