.side-panel-wrapper {
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 0;
    height: 100%;
}

.side-panel {
    right: -400px;
    width: 400px;
    height: calc(100vh - 50px);
    background-color: var(--accent-bg-color);
    position: absolute;
}

.open {
    animation-name: slide-open;
    animation-duration: 0.5s;
    right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.close {
    right: -400px;
    animation-name: slide-closed;
    animation-duration: 0.5s;
}

@keyframes slide-open {
    from {
        right: -400px;
    }
    to {
        right: 0px;
    }
}

@keyframes slide-closed {
    from {
        right: 0px;
    }
    to {
        right: -400px;
    }
}
